.main h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main h2 {
  padding: 2px 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.main h3 {
  color: #4d8088;
  padding: 5px 0;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

.main h4 {
  text-transform: uppercase;
  color: #4d8088;
}

.main p {
  font-size: 1rem;
}

.img-first-sidebar {
  margin-bottom: 1rem;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .logo-image {
    width: 30px;
    height: 30px;
    vertical-align: text-bottom;
  }

  .row {
    width: 100%;
    flex-direction: column;
  }
  .header-title {
    text-align: center;
    font-size: 1.2rem;
  }

  .modal {
    width: 100%;
    padding: 1.2rem;
  }
  .close-modal {
    font-size: 2rem;
    top: 1rem;
  }

  .main {
    text-align: left;
  }

  h2,
  h5 {
    text-align: left;
  }
}
